{% trans_default_domain 'FOSUserBundle' %}

<div class="span12">
	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit foorm-inline">
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
	    </div>
	</form>
</div>
